* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
}

.nav-link {
  color: white;
  padding: 10px;
  text-decoration: none
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-inline-start: 0;
}

.hero {
  position: relative;
  background-image: url("assets/header_visual.jpg");
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  color: white;
  text-align: center;
}

.button {
  padding: 10px 30px;
  border: 0;
  color: white;
  text-transform: uppercase;
}

.button-primary {
  background: #f0795e;
}

.button-secondary {
  background: transparent;
  border: 2px solid #fff;
}

.hero-cta button + button {
  margin-left: 20px;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.introduction .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.introduction img {
  max-height: 400px;
  position: relative;
  top: 50px
}

.features {
  background: #f9f6ef;
}

.features-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features-wrapper .feature:nth-child(2) {
  padding: 0 20px;
}

.reviews {
background-image: url(assets/reviews_visual.jpg);
background-repeat: no-repeat;
background-size:cover;
background-position: top;
display: flex;
flex-direction: column;
align-items: center;
color: white;
padding: 100px 0;
}

.review {
  position: relative;
  max-width: 500px;
  border: 2px solid white;
  text-align: center;
  
}

.review__image {
  position: absolute;
  left: 50%;
  top: -2px;
  margin-top: -23px;
  transform: translateX(-50%);
  border: solid 2px white;
  border-radius: 25px;
  height: 50px;
  width: 50px;
}

.header_review {
  position: relative;
  top: -40px;
  color: black;
}

.review_name {
position: relative;
top: 10px
}
